<!DOCTYPE <html>
<head>
	<meta charset="utf-8">
	<title>My fitness app</title>
</head>
<body>
	<h1> <%= "#{@my_message}" %> </h1>
	<li><a href="/weight/add"> View your progress </li>
	<li><a href="/weight/add"> Add new weight </li>
</body>
</html>