<!DOCTYPE <html>
<head>
	<meta charset="utf-8">
	<title>My fitness app</title>
</head>
<body>
<h1>Add new weight</h1>

	<form action='/contacts' method='post'>
	name
	  <input type='text' name='first_name'>
	  weight
	  <input type='int' name='weight'>
	  <input type='submit' value='New Weight'>

	</form>
</body>
</html>